


<button mat-button (click)="sendMessage1()">Allumer led</button>   


<rg-gauge-chart
    [canvasWidth]="canvasWidth"
    [needleValue]="message1"
    [centralLabel]="message1"
    [options]="options"
    [name]="name"
    [bottomLabel]="bottomLabel"></rg-gauge-chart>


<rg-gauge-chart
[canvasWidth]="canvasWidth1"
[needleValue]="message2"
[centralLabel]="message2"
[options]="options1"
[name]="name1"
[bottomLabel]="bottomLabel1"></rg-gauge-chart>


<ngx-gauge [type]="gaugeType" 
           [value]="message1"
           [label]="gaugeLabel"
           [animate]="animate"
           [foregroundColor]="foregroundColor"
           [backgroundColor]="backgroundColor"
           [append]="gaugeAppendText">
</ngx-gauge>
<ngx-gauge [type]="gaugeType" 
           [value]="message2"
           [label]="gaugeLabel1"  
           [append]="gaugeAppendText1"
           >
</ngx-gauge>



<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <canvas id="lineChart" ></canvas>

    </div>

   